# DEV or PROD
DEPLOY_ENV=DEV

# 31337 for local, 11155111 for Sepolia
CHAIN_ID=31337
RPC_URL=http://127.0.0.1:8545
# RPC_URL=https://ethereum-sepolia-rpc.publicnode.com/

# this key requires funds. used as the admin / deployer of contracts and core contracts.
FUNDED_KEY=
